.search-bar-bottom {
    width: 100%;
    min-width: 100%;
    top: 100%;
    bottom: 0;
    position: sticky;
    z-index: 1000;
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .search-bar-bottom {
        visibility: visible;
    }
}

