.bottom-bar {
    .navbar {
        background-color: white;     
    }
    
    .nav-link {
        border: 0;
        color: #1BA39C;
        border-radius: 5px;
    }

    .nav-link:hover {
        background-color: #1BA39C;
        color: white;
    }

    .nav-link.active {
        background-color: #1BA39C;
        color: white;
    }
    
    .top-bar-text {
        visibility: visible;
    }

    .navigation-button {
        .text-inside-button {
            visibility: visible;
        }

        .nav-link:hover {
            background-color: #1BA39C;
            color: white;
        }
    
        .nav-link.active {
            background-color: #1BA39C;
            color: white;
        }
        
        .icon-styled {
            width: 1.3em;
            height: 1.3em;
            padding-right: 0.3em;
        }
        
        @media screen and (max-width: 800px) {
            .text-inside-button {
                content-visibility: hidden;
            }
        }
    }
    
    @media screen and (max-width: 800px) {
        .top-bar-text {
            content-visibility: hidden;
        }
    }
}

