.battle-container {
    background-color: white;
    .battle-info-head {
        box-shadow: 4px 4px 10px rgb(210, 210, 210);
        border-radius: 10px;
        background-color: #1BA39C;
        color: white;
    }
}
