.track-author-dt {
    display: flex;
    justify-content: space-between;
}

.track-audio-dt {
    display: flex;
    justify-content: center;
}

.track-image {
    float: left;
    width: 120px;
    height: 120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 4px 4px 10px rgb(210, 210, 210);
}

.bordered {
    border-radius: 15px;
}

.likes-dislikes{
    //display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.icon-likes-dislikes {
    margin-left: 2px; 
    margin-top: 2px;
    margin-bottom: 2px;
    width: 2em;
    height: 2em;
}

.track-author-image {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgb(210, 210, 210);
}

.white-border {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 15px 15px 0px;
    width: fit-content;
    padding: 5px;
}

.white-border-user {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 15px 0px;
    width: fit-content;
    padding: 10px;
}

.white-border-description {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 15px 15px 0px;
    width: fit-content;
     
    padding: 5px;
}