.chat-message-box-right {
    border-radius: 15px;
    border-bottom-right-radius: 0;
    width: 100%;
    display: flex;
    justify-content: end;
}

.chat-message-box-left {
    width: 100%;
}

.chat-message-bg-right {
    border-radius: 15px;
    border-bottom-right-radius: 0;
}

.chat-message-bg-left {
    border-radius: 15px;
    border-bottom-left-radius: 0;
}


