.darkmode-toggle {
    z-index: 1000;
}

.darkmode--activated .d-mode-text {
    color: white;
}

.darkmode--activated .d-mode-input {
    background-color: rgb(27, 27, 27);
    box-shadow: none;
    border-color: #1BA39C;
    color: white;
}

.darkmode--activated .d-mode-button {
    box-shadow: none;
    border-color: #1BA39C;
}

.darkmode--activated .d-mode-bg {
    background-color: rgb(27, 27, 27);
}

