.main-view{
    .chart {
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        border-radius: 0;
        background: none;
        .btn.btn-outline-primary {
            display: none;
        }
    }
}

.chart {
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;

    .form-control {
        border-color: #1BA39C;
        box-shadow: 4px 4px 10px rgb(210, 210, 210);
    }
    
    .btn.btn-outline-primary {
        border-color: #1BA39C;
        color: #1BA39C;
    }
    .btn.btn-outline-primary:hover {
        background-color: #1BA39C;
        color: white;
    }
}

.chart:hover {
    color: white;
    background-color: rgb(248, 248, 248);
}
